[Desktop Entry]
Name=Jupyter Lab
Comment=Start Jupyter Lab server
Comment=Jupyter Lab
Exec=gnome-terminal -e "nohup sh -c 'jupyter lab --port 8888 --port-retries=0 --no-browser & sleep 1 && chromium --app=http://localhost:8888 & disown'"
#Icon=/home/<user>/.local/share/icons/hicolor/scalable/apps/notebook.svg
Terminal=false
Type=Application
Categories=Development;
StartupNotify=false
StartupWMClass=jupyter-lab
Actions=open-browser
